/*Ant Design Style Custom*/
.ant-dropdown-arrow:before{
    background: #000 !important;
}

.ant-btn{
    height: unset !important;
}

.ant-list-split .ant-list-item {
    border-bottom: 1px solid black;
}

/*Ant Design Select*/
.ant-select-arrow{
    color: #dee4e9;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: #dee4e9;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(51, 51, 51);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    color: #dee4e9;
    background-color: rgb(51, 51, 51);
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: #1B1B1B;
}

.ant-select-item {
    color: #DEE4E9;
    transition: background .3s ease;
    background: rgb(51, 51, 51);
}

.ant-select-dropdown {
    background-color: #444444;
}

.ant-select-multiple .ant-select-selection-item {
    background: rgb(51, 51, 51);
    border: 1px solid #1B1B1B;
    height: auto;
}

.ant-select-multiple .ant-select-selection-item-remove svg {
    color: white;
}

/*Ant Design Upload*/
.ant-upload-list-picture-card .ant-upload-list-item, .ant-upload-list-picture .ant-upload-list-item {
    color: white;
    border: 1px solid #131313;
    background: #000;
}

.ant-upload-list-item-card-actions .anticon {
    color: red;
}

/*Antd Date Picker*/
.ant-picker{
    background: rgb(51, 51, 51);
    border: rgb(51, 51, 51);
    color: white;
    min-width: 100%;
}

.ant-picker-input>input {
    color: #DEE4E9;
    text-align: right;
}

.ant-picker-suffix{
    color: #DEE4E9;
}

.ant-picker-dropdown {
    border: black;
}

.ant-picker-panel-container .ant-picker-panel {
    background: rgb(51, 51, 51);
    color: white;
}

.ant-picker-header {
    border-bottom: 1px solid #000000;
}

.ant-picker-header button {
    color: #DEE4E9;
}

.ant-picker-content th {
    color: #DEE4E9;
}

.ant-picker-cell {
    padding: 3px 0;
    color: #777;
    cursor: pointer;
}

.ant-picker-cell-in-view {
    color: #DDD;
}

.ant-picker-panel .ant-picker-footer {
    border-top: 1px solid #000;
}

.ant-picker-footer {
    border-bottom: 1px solid #000;
}

input::-webkit-calendar-picker-indicator{
    background: url('https://cdn-icons-png.flaticon.com/512/3143/3143636.png') no-repeat;
    background-size: contain;
    margin-left: 10px;
}

/*Disable tooltip*/
.ant-tooltip{
    display: none !important;
}
