body {
    margin:                  0;
    font-family:             Lora,
                                serif;
                             /*sans-serif;*/
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-spacing:           -0.2em;
}

@font-face{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    src: url('Assets/Fonts/Lora/Lora-Bold.ttf');
}

@font-face{
    font-family: 'Lora';
    font-style: italic;
    font-weight: 700;
    src: url('Assets/Fonts/Lora/Lora-BoldItalic.ttf');
}

@font-face{
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: url('Assets/Fonts/Lora/Lora-Italic.ttf');
}

@font-face{
    font-family: 'Lora';
    font-style: italic;
    font-weight: 500;
    src: url('Assets/Fonts/Lora/Lora-Medium.ttf');
}

@font-face{
    font-family: 'Lora';
    font-style: italic;
    font-weight: 500;
    src: url('Assets/Fonts/Lora/Lora-MediumItalic.ttf');
}

@font-face{
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    src: url('Assets/Fonts/Lora/Lora-Regular.ttf');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
                 monospace;
}

button:focus {
    outline: none !important;
}

body{
    background-color: #1b1b1b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: #fff;
    box-shadow: 0 0 25px 2px rgba(19,19,19,0.7);
    transition: all 0.2s ease-in-out;
}
