body {
    margin:                  0;
    font-family:             Lora,
                             serif;
    /*sans-serif;*/
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-spacing:            -0.2em;
}

@font-face {
    font-family: 'Lora';
    font-style:  normal;
    font-weight: 700;
    src:         url('assets/fonts/lora/Lora-Bold.ttf');
}

@font-face {
    font-family: 'Lora';
    font-style:  italic;
    font-weight: 700;
    src:         url('assets/fonts/lora/Lora-BoldItalic.ttf');
}

@font-face {
    font-family: 'Lora';
    font-style:  italic;
    font-weight: 400;
    src:         url('assets/fonts/lora/Lora-Italic.ttf');
}

@font-face {
    font-family: 'Lora';
    font-style:  italic;
    font-weight: 500;
    src:         url('assets/fonts/lora/Lora-Medium.ttf');
}

@font-face {
    font-family: 'Lora';
    font-style:  italic;
    font-weight: 500;
    src:         url('assets/fonts/lora/Lora-MediumItalic.ttf');
}

@font-face {
    font-family: 'Lora';
    font-style:  italic;
    font-weight: 400;
    src:         url('assets/fonts/lora/Lora-Regular.ttf');
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
                 monospace;
}

button:focus {
    outline: none !important;
}

body {
    background-color: #1B1B1B;
    color:            #F5F5F5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-scrolled {
    position:         fixed;
    top:              0;
    left:             0;
    right:            0;
    z-index:          1030;
    background-color: #FFF;
    box-shadow:       0 0 25px 2px rgba(19, 19, 19, 0.7);
    transition:       all 0.2s ease-in-out;
}

#source-area {
    background: rgb(51, 51, 51);
}
